.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
.vscode

# react-native
.buckconfig
.watchmanconfig
local.properties
android/
ios/
